<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用mapper方式，namespace的路径要是接口的路径相同 -->
<mapper namespace="com.qgq.mybatismapper.UserMapper">
	
	
	<!-- id：就是接口中的方法名称 -->
	<select id="findUserById" parameterType="userQueryVo" resultType="user">
		select * from user where id=#{userCustom.id}
	</select>
	
	<select id="findUserByUsername" parameterType="java.lang.String" resultType="user">
	
		select * from user where username like #{username}
	</select>
	
	<!-- 添加 -->
	<insert id="insertUser" parameterType="user">
		insert into user (username,sex,birthday,address) values	(#{username},#{sex},#{birthday},#{address}) 
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from user
	</select>
</mapper>