<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用mapper方式，namespace的路径要是接口的路径相同 -->
<mapper namespace="com.fwpt.mapper.StudentMapper">
	
	<!-- 学生登陆 -->
	<select id="login" parameterType="student" resultType="student">
		select * from student where number=#{number} and password=#{password}
	</select>
	
	<!-- 查询学生 -->
	<select id="findStudent" parameterType="bean" resultType="student">
		select * from student
		<where>
			<if test="name !=null and name!=''">
				and name like '%${name}%'
			</if>
			<if test="number != null and name != ''">
				and number like '%${number}%'
			</if>
		</where>
		limit #{begin} , #{limit}
	</select>
	
	<!-- 获得查询的总数量 -->
	<select id="count" parameterType="bean" resultType="int">
		select count(*) from student
		<where>
			<if test="name != null and name != ''">
				and name like '%${name}%'
			</if>
			<if test="number != null and number != ''" >
				and number like '%${number}%'
			</if>
		</where>
	</select>
	
</mapper>